.customBlockTool {
    margin: 0;
    padding-bottom: 10px;
    background-color: rgba(239, 239, 240, 1);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.customBlockTool:hover {
    background-color: rgba(239, 239, 240, 0.9);
}


.customBlockTool-innerContainer {
    padding-top: 5px;
    padding-left: 1rem;
    margin-left: 10px;
    margin-right: 20px;
    width: calc(100% - (10px + 1rem));
}
@media (max-width: 700px) {
    .customBlockTool-innerContainer {
        width: calc(100% - (20px + 1rem));
    }
    .control-container {
        width: calc(100% - (20px + 1rem));
    }
}


.customBlockTool-questionPadding {
    padding-bottom: 10px;
}


.customBlockTool [contenteditable] {
    margin: 0;
    text-align: left;
    user-select: text;
    cursor: text;
}

.customBlockTool [contenteditable], input, select:focus {
    outline: none;
}

.customBlockTool-input {
    padding: 8px 0px 8px 8px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: calc(100% - 8px);
}

.customBlockTool-select {
    padding: 8px 16px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: 100%;
}

.customBlockTool-date {
    padding: 8px 16px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: calc(100% - 32px);
}

.customBlockTool-option {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 2px;
    border-radius: 5px;
    width: calc(100% - 9px);
}
.customBlockTool-option-container {
    margin-top: 10px;
}
.questionBlock-label {
    padding-left: 8px;
    width: calc(100% - 8px);
}

.control-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    border-radius: 5px;
    width: calc(100% - (10px));
}


.likert-radioContainer {
    padding: 20px;
}
