



/* UNWORKED */
.customBlockTool {
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(201, 201, 204, .35);
    border-radius: 5px;
    min-width: 50%;
}

.customBlockTool-innerContainer {
    padding-top: 5px;
    padding-left: 1rem;
    margin-left: 10px;
    margin-right: 20px;
    width: calc(100% - (10px + 1rem));
}

.customBlockTool-questionPadding {
    padding-bottom: 10px;
}

.customBlockTool:hover {
    background-color: rgba(201, 201, 205, .48);
}

.customBlockTool [contenteditable] {
    margin: 0;
    text-align: left;
    user-select: text;
    min-width: 75px; 
    cursor: text;
}

.customBlockTool [contenteditable], input, select:focus {
    outline: none;
}

.customBlockTool-input {
    padding: 8px 0px 8px 8px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: 100%;
}

.customBlockTool-select {
    padding: 8px 16px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: 100%;
}

.customBlockTool-date {
    padding: 8px 16px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: 95%;
}

.customBlockTool-columnAllign{
        display: flex;
        flex-direction: column;
        align-items: baseline;
}

.customBlockTool-padding {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

.customBlockTool-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    color: black;
}

.customBlockTool-button:hover {
    background-color: #e0e0e0; 
}
.centerItems {
    display: flex;
    align-items: center;
}



/*OTHERS OTHERS */
.questionBlock {
    box-shadow:  inset 0 0px 2px rgba(0, 0, 0, 0.6);
    max-width: calc(100% - 3rem);
    border-radius: 5px;
}

.deleteQuestionBtn{ 
    border: 0 ;
    background: transparent;
    border-radius: 5px;
    padding: 5px;
}

.deteteQuestionBtn-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: calc(100% - 2rem);
    padding: 0;
}

.hoverEffect:hover{
    border-top: 2px dashed rgba(73, 182, 255, .5);
    background-color: rgba(73, 172, 255, .025);
    padding-top: .5rem;
}
