
.inlineSpace {
    display: flex;
    justify-content: space-between;
}

.inlineEvenSpace {
    display: flex;
    justify-content: space-evenly;
}

.centerAllChild {
    display: flex;
    justify-content: center;
    
}
.padding-bottom {
    padding-bottom: 5px;
}

@media (max-width: 700px) {
    .inlineEvenSpace {
        display: flex;
        flex-direction: column;
    }
}

.ce-block__content, .ce-toolbar__content {
    max-width: 85%;
}

.text-placeholder {
    color: darkgray;
}

.deleteQuestionBtn-container {
    border-top: 1px dashed rgba(0, 0, 0, .7);
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-bottom: 5px;
    padding: 0;
    padding-right: 10px;
    padding-top: 10px;
}

.deleteBlockBtn-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-bottom: 5px;
    padding: 0;
    background-color: rgba(201, 201, 205, .48);
}

.deleteBlockBtn {
    border: 0 ;
    background: transparent;
    border-radius: 5px;
    padding: 5px;
}

.deleteBlockBtn:hover {
    background-color: rgba(201, 201, 204, .35);
}

.style-button-transparent {
    border: none;
    background-color: transparent;
}

.cursor-pointer {
    cursor: pointer;
}



/*TEST TEST TEST */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }