/* NAVBAR */


@media (max-width: 670px ) {
    .navBar {
        display: block;
        text-align: center;
        font-size: 1em;
    }
    .navLogo img {
        height: 35px;
        margin: 0;
    }
    .version {
        font-size: clamp(.8em, .9em, 1em);
    }

}

@media (max-width: 1030px) {
    .editorWrapper {
        width: 95vw;
    }
    .toggleReadOnly {
        margin-left: calc(100vw - 93.5vw)
    }
}