.editorConfigPanel {
    min-width: calc(20vw - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: .6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    border-radius: 10px;
    user-select: none;
    height: 27em;
    position: sticky;
    z-index: 8;
    top: 85px;

}

.customToolBar-button {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    margin-bottom: .4em;
    cursor: pointer;
    color: black;
    height: 11em;
    width: calc(100% - 40px);
    background-color: #f0f0f0; 
}

.clearPageBtn {
    background-color: rgba(255, 20, 10, .65);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
}

