.editorBody {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 100%; 
}

.editorWrapper {
    min-height: 100%;
    width: 76vw;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
@media (max-width: 900px) {
    .editorWrapper {
        width: 95vw;
    }
    
}


#editorjs {
    min-height: 650px;
    min-width: 100%;
    padding: 10px 0px 10px 0px;
    flex: 1; 
    overflow-y: auto; 
}


.padding {
    padding: 5px;
}