
.editorBody {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    min-height: calc(100vh - (76px + 67px));
    
}

.editorWrapper {
    /* border-left: rgba(0, 0, 0, 0.2) 2px solid; */
    /* box-shadow: -4px 0px 4px -4px rgba(0,0,0,0.3); */
    width: 65vw;
    display: flex;
    flex-direction: column;
    
}


#editorjs {
    display: flex;
    flex-direction: column;
    width: calc(100%);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    padding-bottom: 20px;
}

.drag-overlay {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    background-color: #e4e4e4; 
    padding: 15px 20px;
    border-radius: 5px;
    position: fixed;
    z-index: 10;
}

@media (max-width: 1030px) {
    .editorWrapper {
        width: 95vw;
    }
    .toggleReadOnly {
        margin-left: calc(100vw - 93.5vw)
    }
}