.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    position: sticky; 
    top: 0; 
    z-index: 1000;
    border-radius: 10px;
    margin: 1px 3px 0px 3px;
    width: 100%;
}

.navLogo img{
    margin-left: 1em;
    height: 50px
}

.navButtons {
    margin-right: 1em;
}
.button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    user-select: none;
    border: none;
    background-color: transparent;
    border-bottom: solid transparent;
    transition: border-bottom 0.3s ease;
    color: black;
}

.version {
    font-size: 1em;
}

@media (max-width: 670px ) {
    .navBar {
        display: block;
        text-align: center;
        font-size: .9em;
    }
    .navLogo img {
        height: 40px;
    }
    .version {
        font-size: clamp(.8em, .9em, 1em);
    }
    
}

@media (max-width: 380px) {
    .navLogo img {
        height: 35px;
    }
    
}


.mieColor-blue.button:hover {
    border: none;
    border-bottom: solid rgba(6,156,212,1);
}
.mieColor-green:hover {
    border: none;
    border-bottom: solid rgba(0, 166, 81,1);
}
.mieColor-yellow:hover {
    border: none;
    border-bottom: solid rgba(255, 209, 0, 1);
}
.mieColor-red {
    background-color: rgba(229, 96, 32, 1);

}

.mBlue {
    color: rgba(6,156,212,1);
}

.mGreen {
    color: rgba(0, 166, 81,1);
}

.mYellow {
    color: rgba(255, 209, 0, 1);;
}
.mRed {
    color: rgba(229, 96, 32, 1);
}