

.previewModal-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

}

.previewModal-contentAllign 
{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height:80vh;
    width: 85%;
    
}
.previewModal-header {
    display: flex;
    border-radius: 5px;
    
}

.previewModal-header button, .previewModal-content, .previewModal-closeButton {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}

.previewModal-header button {
    border: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(240, 240, 240, .5);

}

.previewModal-header button:hover {
    background-color: rgba(240,240,240, .8);
}

.previewModal-content {
    background: rgba(240,240,240, 1);
    padding: 20px;
    border-radius: 0px 5px 5px 5px;
    width: calc(100% - 40px);
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}

.previewModal-content p, .previewModal-content pre{
    margin-left: 10vw;
    text-align: left;
}

.previewModal-closeButton {
    margin-top: 3px; 
    padding: 5px 10px;
    background-color: rgba(240,240,240, 1); 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;

}

.previewModal-closeButton:hover {
    background-color: #e0e0e0; 
}

.disable-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.activeTab {
    background-color: rgba(240, 240, 240, 1) !important;
    margin-top: -4px;
}