.likertQuestion {
    display: flex;
    margin-top: .3em;
    
}

.likertQuestion-columnDivQuestion p {
    margin: 0;
    padding: 5px 10px 10px 0px;
    margin-right: 100px;
    cursor: default;
}

.likertQuestion-columnDivQuestion [contenteditable] {
    min-height: 40px;
    max-height: 40px;
    max-width: 200px;
}
.likertQuestion-columnDiv {
    display: flex;
    flex-direction: column;

}
.likertQuestion-columnDiv input {
    margin: 5px 40px 37px 0px;
}

.likertQuestion-columnDiv p, .likertQuestion-ratingText {
    padding: 5px 10px 10px 0px;
    margin: 0;

}

.likertQuestion-radioContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-right: -20px;
}

.renderSetting p{
    margin: 0;
    font-size: 15px;
}

