body {
    margin: 0;
    background: rgba(235, 235, 235, .9);

}

#root, .app, .all  {
    height: 88vh;
}


.pass {
    pointer-events: none; 
}

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.highlighted-block {
  background-color: rgba(255, 235, 59, 0.5); /* Light yellow background for visibility */
  border: 2px dashed red; /* Red dashed border */
}
