html, body, #root, .root, .app {
    position: fixed;
    margin: 0;
    height: 100vh;
    width: 100vw;
    height: 100svh;
    width: 100svw;
    overflow-x: hidden;
    
}
body {
    background: rgba(239, 239, 240, 1);
    position: relative;
}


.pass {
    pointer-events: none;  
}

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

