/* GLOBAL CSS */

/* 
.oswald-<uniquifier> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} 
*/
.globalText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.inlineSpace {
    display: flex;
    justify-content: space-between;
}

.inlineEvenSpace {
    display: flex;
    justify-content: space-evenly;
}

.ce-block__content, .ce-toolbar__content {
    max-width: 85%;
}

/*Utility Function Classes */
.text-placeholder {
    color: darkgray;
}

.deleteBlockBtn-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-bottom: 5px;
    padding: 0;
    background-color: rgba(201, 201, 205, .48);
}

.deleteBlockBtn {
    border: 0 ;
    background: transparent;
    border-radius: 5px;
    padding: 5px;
}

.deleteBlockBtn:hover {
    background-color: rgba(201, 201, 204, .35);
}

/* CUSTOM BLOCK SETTINGS */
.customBlockTool {
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(201, 201, 204, .35);
    border-radius: 5px;
    min-width: 50%;
}

.customBlockTool-innerContainer {
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
    width: 100%;
}

.customBlockTool-questionPadding {
    padding-bottom: 10px;
}

.customBlockTool p, label, input, section, option {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}


.customBlockTool:hover {
    background-color: rgba(201, 201, 205, .48);
}

.customBlockTool [contenteditable] {
    margin: 0;
    text-align: left;
    user-select: text;
    min-width: 75px; 
    cursor: text;
}

.customBlockTool [contenteditable], input, select:focus {
    outline: none;
}

.customBlockTool-input {
    padding: 8px 0px 8px 8px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: 100%;
}

.customBlockTool-select {
    padding: 8px 16px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: 100%;
}

.customBlockTool-date {
    padding: 8px 16px;
    background-color: #ffffff; 
    border: none;
    border-radius: 4px;
    width: 95%;
}

.customBlockTool-columnAllign{
        display: flex;
        flex-direction: column;
        align-items: baseline;
}

.customBlockTool-padding {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

.customBlockTool-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.customBlockTool-button:hover {
    background-color: #e0e0e0; 
}


/* RENDER SETTINGS */
.renderSetting {
    margin-bottom: -5px;
    border-radius: 5px;
}

.renderSetting-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0px 2px 2px;
    border-radius: 5px;
}
.renderSetting-option:hover {
    background-color: #eff2f5;
}

.renderSetting-button {
    border: 1px solid rgba(201, 201, 204, .48);
    background-color: rgba(255, 255,255, .9);
    border-radius: 5px;
    padding: 3px;
    margin: 0;
}

.renderSetting-label {
    padding-left: 5px;
    color: black;
}

.renderSetting-input {
    max-width: 120px;
    border: 1px solid rgba(201, 201, 204, .48);
    border-radius: 5px;
    padding: 7px;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;

}

.renderSetting-input:focus {
    outline: none;
}
